{
  "extends": "eslint-config-airbnb-es5",
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "indent": "off",
    "comma-dangle": ["error", "always-multiline"],
    "brace-style": ["error", "stroustrup"],
    "valid-jsdoc": 0
  }
}
